<footer class="footer" id="contact">
  <div class="max-width">
    <div class="marca">
      <img src="../assets/image/logotipo.png" alt="Logotipo Define Fitness" />
      <p class="copyright">Todos os direitos reservados</p>
      <p class="copyright">©2024 DefineFitness</p>
    </div>
    <div class="info">
      <p class="address">Rua Pedro Nunes, 81</p>
      <p class="address">Areias, Recife/PE CEP: 50860-090</p>
      <p class="contact-info">Telefone: 81 99637-7309</p>
      <p class="contact-info">Email: define&#64;fitness.com.br</p>
    </div>
    <div class="medias">
      <a href="https://whatsapp.com"><i class="fab fa-whatsapp"></i></a>
      <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>
