<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>
<div class="navbar" [ngClass]="{ sticky: this.getScrollYMoreThan20() }">
  <div class="max-width no-padding center">
    <div class="logo">
      <a href="#">Define<span>Fitness</span></a>
    </div>
    <ul class="menu">
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about">Sobre</a></li>
      <li><a href="#activities">Atividades</a></li>
      <li><a href="#form">Agende</a></li>
      <li><a href="#plans">Preços e Planos</a></li>
      <li><a href="#contact">Contatos</a></li>
    </ul>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div>
