<section class="plans" id="plans">
  <div class="max-width">
    <h2 class="titlex">Preços & Planos</h2>
  </div>

  <div class="max-width plans-container">
    <div class="plan">
      <div class="plan-header">
        <span>R$</span>
        <p class="plan-price">89,90</p>
        <span>/Mês</span>
      </div>
      <div class="plan-body">
        <div class="plan-features">
          <span>1 Usuário</span>
          <span>1 Projeto</span>
          <span>1 GB de Armazenamento</span>
          <span>Suporte 24/7</span>
        </div>
      </div>

      <h3 class="plan-title">Trimestral</h3>
    </div>
    <div class="plan">
      <div class="plan-header">
        <span>R$</span>
        <p class="plan-price">69,90</p>
        <span>/Mês</span>
      </div>
      <div class="plan-body">
        <div class="plan-features">
          <span>1 Usuário</span>
          <span>1 Projeto</span>
          <span>1 GB de Armazenamento</span>
          <span>Suporte 24/7</span>
        </div>
      </div>
      <h3 class="plan-title">Anual</h3>
      <h4 class="plan-recomend">Melhor Opção</h4>
    </div>
    <div class="plan">
      <div class="plan-header">
        <span>R$</span>
        <p class="plan-price">119,90</p>
        <span>/Mês</span>
      </div>
      <div class="plan-body">
        <div class="plan-features">
          <span>1 Usuário</span>
          <span>1 Projeto</span>
          <span>1 GB de Armazenamento</span>
          <span>Suporte 24/7</span>
        </div>
      </div>

      <h3 class="plan-title">Mensal</h3>
    </div>
  </div>
</section>
