<section class="plans" id="plans">
  <div class="max-width">
    <h2 class="titlex">Preços & Planos</h2>
  </div>

  <div class="max-width plans-container">
    <div class="plan">
      <div class="plan-features">
        <span> <b>Especie/Pix</b></span>
      </div>
      <div class="plan-header">
        <div class="plan-price">
          <span>R$</span>
          <p>99,90</p>
        </div>
      </div>
      <div class="plan-features">
        <span> <b>Crédito/Débito</b></span>
      </div>
      <div class="plan-header">
        <div class="plan-price">
          <span>R$</span>
          <p>119,90</p>
        </div>
      </div>

      <h3 class="plan-title">Mensal</h3>
    </div>
    <div class="plan">
      <div class="plan-features">
        <span> <b>Valor: 12x de</b></span>
      </div>
      <div class="plan-header">
        <div class="plan-price">
          <span>R$</span>
          <p>89,90</p>
        </div>
      </div>
      <div class="plan-body my-4">
        <div class="plan-features">
          <span>Sem Comprometer o limite</span>
          <span>Zero taxa de cancelamento</span>
          <span>Zero taxa de anuidade</span>
        </div>
      </div>
      <h3 class="plan-title">Anual Recorrente</h3>
      <h4 class="plan-recomend">Melhor Opção</h4>
    </div>
    <div class="plan">
      <div class="plan-features">
        <span><b>Especie/Pix</b></span>
      </div>
      <div class="plan-header">
        <div class="plan-price">
          <span>R$</span>
          <p>550,00</p>
        </div>
      </div>
      <div class="plan-features">
        <span> <b> Crédito cheio - Sem devolução</b></span>
      </div>
      <div class="plan-header">
        <div class="plan-price">
          <span>6x</span>
          <p>95,00</p>
        </div>
      </div>
      <h3 class="plan-title">Semestral</h3>
    </div>
  </div>
</section>
