<section class="faq">
  <div class="max-width">
    <h2 class="titlex">Dúvidas Frequentes</h2>
  </div>
  <div class="max-width">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Quais são os horários de funcionamento da academia?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            De forma regular, nossa academia funciona das 5h às 23h de segunda à
            quinta, na sexta funcionamos das 5h às 22h e no sabádo das 8h às
            15h, no domingo não abrimos, caso haja algum feriado, o horário de
            funcionamento pode ser alterado.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Quais são as opções de associação disponíveis?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Oferecemos várias opções de associação, incluindo
            <em>mensal, trimestral e anual.</em> Além disso, também aceitamos o
            <em>plano basic do Gympass.</em> Para mais informações, entre em
            contato conosco.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            A academia oferece treinamento pessoal?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Sim, oferecemos serviços de treinamento pessoal. Bem como você pode
            agendar uma sessão com um de nossos professores certificados para
            obter um plano de treino mais específico.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Tenho que treinar de tênis?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Sim, nas instalações da academia é obrigatório o uso de calçados
            fechados.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
